.dostoprimechatelnosiImg {
  width: 100%;
  margin-top: 100px;
}

.dostoprimechatelnostiText {
  position: absolute;
  background-color: #1f1f1f;
  width: 100%;

  margin: 0;
  font-size: 20px;
  color: white;
  text-align: center;
}
.dostoprimechatelnostiText1 {
  color: white;
  background-color: rgb(83, 47, 0);
  font-size: 30px;
  text-align: center;
  padding: 1%;
}

.searhContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 0;
}
.windowUpText {
  margin-top: 0;
  color: white;
  text-align: center;
  background-color: #414141;
}
.imgFromSearh {
  width: 98%;
  margin: 1%;
  margin-top: 30px;
}
.searhContent li {
  list-style-type: none;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;

  transition: 1s;
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-size: 25px;
}
.searhContent li a {
  color: white;
}
.searhContent li:hover {
  background-color: #9e9e9e;
  color: rgb(0, 0, 0);
}
.searhContent ul {
  background-color: rgb(51, 51, 51);
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  opacity: 0.95;
  border-radius: 5px;
  overflow-y: scroll;
  height: 550px;
}
.elastic li.hide {
  display: none;
}
.elastic li.mark {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.d1 {
  background: #505050;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 1%;
}
.d1 input {
  width: 50%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #424242;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  color: black;
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 5px;
  transition: 0.3s;
}

.upButton {
  position: fixed;
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 70px;
  z-index: 1;
}
.upWindow {
  padding-top: 0.5%;
}
.upWindowText {
  margin-top: 5%;
  text-align: center;
  color: white;
  font-size: 35px;
  background-color: rgb(83, 47, 0);
  padding: 1%;
}
.text1 {
  color: white;
  font-size: 50px;
  padding: 1%;
  text-align: center;
  background-color: rgb(83, 47, 0);
}
.text2 {
  color: white;
  font-size: 30px;
  padding: 1%;
  text-align: center;
  background-color: rgb(27, 27, 27);
}
.istorijaBelarusi {
  color: white;
  background-color: rgb(27, 27, 27);
  text-align: center;
  padding: 1%;
  padding-top: 0.5%;
  font-size: 25px;
}
.istorijaBelarusiZagolovok {
  color: white;
  text-align: center;
  padding: 1%;
  padding-top: 10%;
}
.istorijaBelarusiZagolovok1 {
  color: white;
  background-color: rgb(83, 47, 0);
  text-align: center;
  padding: 1%;
  font-size: 30px;
}
.belGerb {
  width: 80px;
  height: 75px;
}
.belFlag {
  width: 140px;
  height: 75px;
  padding-left: 5px;
}

.map {
  text-align: center;
  position: relative;
  width: 100%;
}
svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.Minsk {
  opacity: 0.2;
}
.Minsk:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.Vitebsk {
  opacity: 0.2;
}
.Vitebsk:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.Mogilev {
  opacity: 0.2;
}
.Mogilev:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.Brest {
  opacity: 0.2;
}
.Brest:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.Grodno {
  opacity: 0.2;
}
.Grodno:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.Gomel {
  opacity: 0.2;
}
.Gomel:hover {
  transition: 1.2s;
  opacity: 0.5;

  cursor: pointer;
}
.BelarusFoto {
  padding-top: 1%;
  width: 100%;
  height: 100%;
}
.textWindowText {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}
.textWindowText1 {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}

.gerbMinskOblast {
  padding-left: 2%;
  width: 550px;
  height: 600px;
}
.flagBelarus {
  padding-left: 2%;
  width: 650px;
  height: 400px;
}
.belarusGerb {
  padding-left: 1%;
  width: 530px;
  height: 500px;
  padding-top: 0%;
}
.belaz {
  padding-top: 1%;
  padding-left: 7%;
  width: 750px;
  height: 500px;
}
.lekarstwo {
  padding-top: 1%;
  padding-left: 7%;
  width: 750px;
  height: 500px;
}
.belarus {
  padding-top: 1%;
  padding-left: 7%;
  width: 750px;
  height: 500px;
}
.minskajaMarka {
  padding-top: 1%;
  padding-left: 7%;
  width: 750px;
  height: 500px;
}

.istorijaMinskojOblasti {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}
.belarusFlag {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}
.interestnieFakti {
  color: white;
  text-align: center;
  background-color: rgb(83, 47, 0);
  padding: 2%;
  font-size: 27px;
}
.interestnieFaktiMinaskajaOblast1 {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}
.interestnieFaktiMinaskajaOblast2 {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}
.interestnieFaktiMinaskajaOblast3 {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}
.interestnieFaktiMinaskajaOblast4 {
  color: white;
  text-align: center;
  background-color: rgb(27, 27, 27);
  padding: 2%;
  font-size: 25px;
}

.returnInMain {
  position: fixed;
  text-decoration: none;
  margin-left: 1%;
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(83, 47, 0);
  color: white;
  padding: 1%;
  transition: 1s;
}
.returnInMain:hover {
  background-color: rgb(6, 68, 0);
}
.returnInStart {
  position: fixed;
  text-decoration: none;
  right: 1%;
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(83, 47, 0);
  color: white;
  padding: 1%;
  transition: 1s;
}
.returnInStart:hover {
  background-color: rgb(6, 68, 0);
}
@media screen and (max-width: 1200px) {
  .dostoprimechatelnosiImg {
    width: 100%;
    margin-top: 50px;
  }
  .dostoprimechatelnostiText1 {
    font-size: 16px;
  }
  .dostoprimechatelnostiText {
    font-size: 10px;
  }
  .searhContent li {
    font-size: 16px;
  }
  .d1 input {
    height: 30px;
    font-size: 15px;
  }
  .d1 button {
    border: none;
    background: #9900ff;
    font-size: 17px;
    padding: 5px;
  }
  .upButton {
    position: fixed;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 40px;
  }
  .istorijaBelarusiZagolovok1 {
    font-size: 19px;
  }
  .text1 {
    font-size: 19px;
  }
  .text2 {
    font-size: 16px;
  }
  .istorijaBelarusi {
    font-size: 16px;
  }
  .belFlag {
    padding-left: 5px;
    width: 70px;
    height: 35px;
  }
  .belGerb {
    margin-left: 5px;
    width: 45px;
    height: 45px;
  }
  .interestnieFaktiMinaskajaOblast1 {
    font-size: 16px;
  }
  .interestnieFaktiMinaskajaOblast2 {
    font-size: 16px;
  }
  .interestnieFaktiMinaskajaOblast3 {
    font-size: 16px;
  }
  .interestnieFaktiMinaskajaOblast4 {
    font-size: 16px;
  }
  .interestnieFakti {
    font-size: 18px;
  }
  .returnInMain {
    font-size: 16px;
  }
  .returnInStart {
    font-size: 16px;
  }
  .istorijaMinskojOblasti {
    font-size: 16px;
  }
  .textWindowText1 {
    font-size: 16px;
  }
  .textWindowText {
    font-size: 16px;
  }
  .upWindowText {
    font-size: 19px;
  }
  .upWindow {
    padding-top: 3%;
  }
  .belaz {
    width: 85%;
    height: 50%;
  }
  .belarusFlag {
    width: 90%;
    height: 15%;
  }
  .gerbMinskOblast {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 30%;
  }
  .belarusGerb {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 10%;
  }
  .flagBelarus {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 40%;
  }

  .map {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dostoprimechatelnosiImg {
    width: 100%;
    margin-top: 45px;
  }
  .dostoprimechatelnostiText1 {
    font-size: 14px;
  }
  .dostoprimechatelnostiText {
    font-size: 10px;
  }
  .searhContent {
    width: 95%;
  }
  .searhContent li {
    font-size: 14px;
  }
  .searhContent ul {
    height: 250px;
  }
  .d1 input {
    height: 20px;
    font-size: 12px;
  }
  .d1 button {
    background: #9900ff;
    font-size: 12px;
    padding: 5px;
  }
  .upButton {
    position: fixed;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 30px;
  }
  .upWindow {
    padding-top: 5%;
  }
  .istorijaBelarusiZagolovok1 {
    font-size: 17px;
  }
  .text1 {
    font-size: 17px;
  }
  .text2 {
    font-size: 14px;
  }
  .istorijaBelarusi {
    font-size: 14px;
  }
  .belFlag {
    padding-left: 5px;
    width: 70px;
    height: 35px;
  }
  .belGerb {
    margin-left: 5px;
    width: 45px;
    height: 45px;
  }
  .interestnieFaktiMinaskajaOblast1 {
    font-size: 14px;
  }
  .interestnieFaktiMinaskajaOblast2 {
    font-size: 14px;
  }
  .interestnieFaktiMinaskajaOblast3 {
    font-size: 14px;
  }
  .interestnieFaktiMinaskajaOblast4 {
    font-size: 14px;
  }
  .interestnieFakti {
    font-size: 16px;
  }
  .returnInMain {
    font-size: 14px;
  }
  .returnInStart {
    font-size: 14px;
  }
  .istorijaMinskojOblasti {
    font-size: 14px;
  }
  .textWindowText1 {
    font-size: 14px;
  }
  .textWindowText {
    font-size: 14px;
  }
  .upWindowText {
    font-size: 17px;
  }
  .belaz {
    width: 85%;
    height: 50%;
  }
  .belarusFlag {
    width: 90%;
    height: 15%;
  }
  .gerbMinskOblast {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 30%;
  }
  .belarusGerb {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 10%;
  }
  .flagBelarus {
    padding-top: 5%;
    padding-left: 10%;
    width: 50%;
    height: 40%;
  }

  .map {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .dostoprimechatelnosiImg {
    width: 100%;
    margin-top: 40px;
  }
  .dostoprimechatelnostiText1 {
    font-size: 12px;
  }
  .dostoprimechatelnostiText {
    left: 0;
    font-size: 8px;
  }
  .dostoprimechatelnosti {
    margin: 20px;
  }
  .imgFromSearh {
    margin-left: 20px;
    margin-right: 20px;
    width: 87%;
  }
  .searhContent {
    margin-left: 20px;
    width: 90%;
    text-align: center;
  }
  .searhContent li {
    font-size: 12px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0.5%;
  }
  .searhContent ul {
    margin-right: 20px;
    height: 200px;
  }
  .d1 {
    width: 100%;
  }
  .d1 input {
    height: 20px;
    font-size: 12px;
  }
  .d1 button {
    border: none;
    background: #9900ff;
    font-size: 12px;
    padding: 5px;
  }
  .upButton {
    position: fixed;
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 25px;
  }
  .upWindow {
    padding-top: 7%;
  }
  .istorijaBelarusiZagolovok1 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
  }
  .text1 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 15px;
  }
  .text2 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
  }
  .istorijaBelarusi {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
  }
  .belFlag {
    padding-left: 5px;
    width: 70px;
    height: 35px;
  }
  .belGerb {
    margin-left: 20px;
    width: 45px;
    height: 45px;
  }
  .interestnieFaktiMinaskajaOblast1 {
    margin: 20px;
    font-size: 12px;
  }
  .interestnieFaktiMinaskajaOblast2 {
    margin: 20px;
    font-size: 12px;
  }
  .interestnieFaktiMinaskajaOblast3 {
    margin: 20px;
    font-size: 12px;
  }
  .interestnieFaktiMinaskajaOblast4 {
    margin: 20px;
    font-size: 12px;
  }
  .interestnieFakti {
    font-size: 14px;
  }
  .returnInMain {
    margin-left: 20px;
    font-size: 12px;
  }
  .returnInStart {
    font-size: 12px;
    margin-right: 20px;
  }
  .istorijaMinskojOblasti {
    font-size: 12px;
    margin: 20px;
  }
  .textWindowText1 {
    margin: 20px;
    font-size: 12px;
  }

  .textWindowText {
    margin: 20px;
    font-size: 12px;
  }
  .upWindowText {
    font-size: 15px;
  }
  .belaz {
    width: 85%;
    height: 50%;
  }
  .belarusFlag {
    margin-left: 20px;
    width: 90%;
    height: 15%;
  }
  .gerbMinskOblast {
    margin-left: 20px;
    width: 60%;
    height: 60%;
  }
  .belarusGerb {
    margin-left: 20px;
    width: 60%;
    height: 60%;
  }
  .flagBelarus {
    margin-left: 20px;
    width: 60%;
    height: 60%;
  }

  .map {
    width: 90%;

    display: block;
    margin-left: 10px;
  }
}
